students {
    display: block;
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

student {
    display: block;
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
    width: 350px;
}

rollno, name, branch, year, college {
    display: block;
    margin: 5px;
}

rollno {
    color: blue;
}

name {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

branch {
    color: green;
}

year {
    color: purple;
}

college {
    color: brown;
}